In [3]:
num_1= float(input('Enter num_1:'))
num_2= float(input('Enter num_2:'))
num_3= float(input('Enter num_3:'))
print(num_1>num_2>num_3)

Enter num_1: 13
Enter num_2: 1
Enter num_3: 4

False

#use python tutor for better understanding of code
comparison operators by giving inputs
red cursor indicates which line is executing

In [ ]:
# #LOGIC_GATES:
# AND_LOGIC: Mltiplication 2 high honge tab he high milega warna high nahi milega
# right side and left side both are not true tab tak result me true nahi aeaga both should be true to get a true
# AND:
# 0 0 =0 not high
# 1 1 =1 only both high
# OR: koe ek bhi true ho tou true miljaega
# not:

In [6]:
number1=true
number2= False
number2 and number1

NameError: name 'true' is not defined

In [ ]:
#true is not in its format error in a code debugging ya tou es true ko string bana do ya esko proper format me karo

In [8]:
number1= True
number2= False
number2 and number1

False

In [ ]:
#right and left side of operant both should be considered in and operator

In [10]:
number1= False
number2= False
number2 or number1

False

In [ ]:
#only condition to get false in or operator

In [12]:
not number2

True

In [30]:
num_1= bool(input('Enter num_1:'))
num_2= bool(input('Enter num_2:'))
num_3= bool(input('Enter num_3:'))
num_1 and num_2
num_1 or num_2
not num_2
print("The result of AND gate is", num_1 and num_2)
print("The result of OR gate is", num_1 or num_2)
print("The result of NOT gate is", not num_1)

Enter num_1: true
Enter num_2: true
Enter num_3: true

The result of AND gate is True
The result of OR gate is True
The result of NOT gate is False

In [34]:
4==4 # equals is consider with double == sign

True

In [36]:
# = is always a assignment operator and == is always equals to

#ASSIGNMENT OPERATOR

In [40]:
number = 10
result = number+10
print(result)

20

In [48]:
a = "World Environment Day (WED) is celebrated annually on 5 June and encourages awareness and action for the protection of the environment. It is supported by many non-governmental organizations, businesses, government entities, and represents the primary United Nations outreach day supporting the environment."
b = "World Environment Day (WED) is celebrated annually on 5 June and encourages awareness and action for the protection of the environment. It is supported by many non-governmental organizations, businesses, government entities, and represents the primary United Nations outreach day supporting the environment."
a is not b

True

In [50]:
a = "World Environment Day (WED) is celebrated annually on 5 June and encourages awareness and action for the protection of the environment. It is supported by many non-governmental organizations, businesses, government entities, and represents the primary United Nations outreach day supporting the environment"
b = "World Environment Day (WED) is celebrated annually on 5 June and encourages awareness and action for the protection of the environment. It is supported by many non-governmental organizations, businesses, government entities, and represents the primary United Nations outreach day supporting the environment"
a is b

False

In [52]:
print(id(a))
print(id(b))

1901277870576
1901309788560

In [54]:
#values are both same but both location ids are different ab jo bad me aya hai woh pehle wale k baraber kese hosakta hai
#if we name both variables as a then we get true answer this case is in string only