In [3]:
import random

In [4]:
jackpot = random.randint(1,100)
print(jackpot)
guess_num= int(input('Guesss the Num'))
while guess_num!=jackpot:
    if guess_num< jackpot:
        print('Guess Higher')
    else: 
        print('Guess Lower')
    guess_num= int(input('Guesss the Num'))
    counter=counter+1
else:
    print('Correct Guess')

57

Guesss the Num 57

Correct Guess

In [7]:
#FOR LOOP:

for num in range(1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [ ]:
# for k bad iterator
# in k bad iterable

In [9]:
fruits=['apple','berry','cherry']
for x in fruits:
    print(x)

apple
berry
cherry

In [11]:
fruits=['apple','berry','cherry']
name= 'Ahmed'
for x in name:
    print(x)

A
h
m
e
d

In [21]:
thisdict={'abc':45,'nft':34,'tyv':45}
for key in thisdict.items():
  print(key)

('abc', 45)
('nft', 34)
('tyv', 45)

In [23]:
thisdict={'abc':45,'nft':34,'tyv':45}
for key in thisdict:
  print(key,thisdict[key])

abc 45
nft 34
tyv 45

In [29]:
# Current population =1000
# rate of increase = 10%
# find out population at the end of each of last 10 years

population = 1000
rate_of_increase = 0.10

populations = []
for year in range(1, 11):
    population *= (1 + rate_of_increase)
    populations.append(population)

print(populations)

[1100.0, 1210.0, 1331.0, 1464.1000000000001, 1610.5100000000002, 1771.5610000000004, 1948.7171000000005, 2143.5888100000006, 2357.9476910000008, 2593.742460100001]

In [43]:
current_population= 10000
for year in range(10,0,-1):
    print(year,'Years ago',current_population)
    current_population=round(current_population/1.1)

10 Years ago 10000
9 Years ago 9091
8 Years ago 8265
7 Years ago 7514
6 Years ago 6831
5 Years ago 6210
4 Years ago 5645
3 Years ago 5132
2 Years ago 4665
1 Years ago 4241

### NESTED LOOPS:

In [58]:
for loop in range(1,5):
    for inner_loop in range(1,5):
        print(loop, inner_loop)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [60]:
for loop in range(1,5,2):
    for inner_loop in range(1,5,2):
        print(loop, inner_loop)

1 1
1 3
3 1
3 3

In [62]:
# #patterm:
# ***
# ****
# ******

rows=int(input('enter no of  rows for pattern:'))
for i in range(1,rows+1): #cz woh 1 kam time chalta hai esliye+1 kiya hai
    print('*')

enter no of  rows for pattern: 3

*
*
*

In [64]:
rows=int(input('enter no of  rows for pattern:'))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*')

enter no of  rows for pattern: 2

*
*

In [66]:
rows=int(input('enter no of  rows for pattern:'))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*',end='')
    print()

enter no of  rows for pattern: 2

*
**

In [68]:
print('*')
print('*')

*
*

In [72]:
print('*')
print('*',end='')
print('*')

*
**

In [86]:
rows=int(input('enter no of  rows for pattern:'))
for i in range(4,rows+1):
    for j in range(1,i+1):
        print('*',end='')
    print()

enter no of  rows for pattern: 4

****