##   FUNCTIONS:

In [ ]:
# TO PASS LIST IN A FUNCTION AS 'ARGUMENT'

def list_square():

num_list=[2,3,4,5]
list_square(num_list)   #argument into list

In [5]:
num_list=[2,3,4,5]

In [7]:
def list_square(num_list):
    for i in range(len(num_list)):
        num_list[i]=num_list[i]**2
        return num_list

In [13]:
def square_numbers(numbers_list):
    list_squares = []
    for x in numbers_list:
        list_squares.append(x**2)
    return list_squares

numbers_list = [2,3,4,5,6]
print(numbers_list)
print(square_numbers(numbers_list))

[2, 3, 4, 5, 6]
[4, 9, 16, 25, 36]

In [21]:
list_of_integers = [1,2,3]
for i in list_of_integers:
    print(i)

1
2
3

In [23]:
#poori list ko add kardo
#result = 0 
#pori list ko esme add kardo

def my_sum(my_integers):
    result = 0
    for x in my_integers:
        result += x
    return result

list_of_integers = [1, 2, 3]
print(list_of_integers)
print(my_sum(list_of_integers))

[1, 2, 3]
6

In [27]:
def my_product(my_integers):
    result = 1
    for x in my_integers:
        result *= x
    return result

list_of_integers = [1, 2, 3]
print(list_of_integers)
print(my_product(list_of_integers))

[1, 2, 3]
6

In [43]:
#This function returns if a given number is odd or even
  #input - any valid integer
  #output - odd/even

def is_even(num):
  if type(num) == int:
    if num % 2 == 0:
      return 'even'
    else:
      return 'odd'
  else:
    return 'Enter valid Number'

num=input('Enter your num:')
is_even(num)

Enter your num: ht

'Enter valid Number'

In [49]:
for i in range(1,11):
  x = is_even(i)
  print('Number is' ,i,x)

Number is 1 odd
Number is 2 even
Number is 3 odd
Number is 4 even
Number is 5 odd
Number is 6 even
Number is 7 odd
Number is 8 even
Number is 9 odd
Number is 10 even

# Types of Arguments:- 
Default Argument- 
Positional Argumen- t
Keyword Argument

In [51]:
def power(a=1,b=1):
  return a**b

power(2,3)

8

In [53]:
# positional argument
print(power(2,3))
print(power(2,4))
print(power(3,3))

8
16
27

In [55]:
# keyword argument
power(b=3,a=2)

8

In [57]:

def name(Fname='Talib', Lname='Hussain'):
    return Fname+' '+Lname

print('Bisma','Saleem')

Bisma Saleem

In [ ]:
# ARGS ALLOW YOU TO PASS VALUES AS ARGUMENTS INTO YOUR FUNCTION WITHOUT ANY RESTRICTION

In [65]:
def multiply(*args):
  product = 1

  for i in args:
    product = product * i

  print(args)
  return product

multiply(1,2,3,4,5,6,7,8,9,10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

3628800

In [67]:
def UserDetails(*args):
    print(args)  
fullname = 'Bisma'
profession = 'Data Scientist'
gender = 'Female'
Age = 25
Specialization = 'Business Intelligence'
UserDetails(fullname,profession,gender,Age)

('Bisma', 'Data Scientist', 'Female', 25)

In [69]:
def UserDetails(*args):
    print(args)  
fullname = input("Enter your Name")
profession = input("Enter your profession")
gender = input("Enter your gender")
Age = input("Enter your Age")
Specialization = input("Enter your Specialization")
UserDetails(fullname,profession,gender,Age)

Enter your Name bisma
Enter your profession data scientist
Enter your gender female
Enter your Age 25
Enter your Specialization Business Intelligence

('bisma', 'data scientist', 'female', '25')

In [3]:
def sum(num1,num2):
    return num1+num2
def sub(num1,num2):
    return num1-num2
def prodct(num1,num2):
    return num1*num2
def div(num1,num2):
    return round(num1/num2,2)

num1=float(input('Enter your num1:'))
num2=float(input('Enter your num2:'))

print(sum(num1,num2))
print(sub(num1,num2))
print(prodct(num1,num2))
print(div(num1,num2))

Enter your num1: 10
Enter your num2: 20

30.0
-10.0
200.0
0.5