In [47]:
#1-Declare an empty list
empty_list=[]
print(empty_list)

[]

In [49]:
#2-Declare a list with more than 5 items
abc=[0,1,2,3,4,5,6]
#3-Find the length of your list
len(abc)

7

In [51]:
#4-Get the first item, the middle item and the last item of the list
abc[0:7:3]

[0, 3, 6]

In [53]:
#5-Declare a list called mixed_data_types, put your (name, age, height, marital status, address)
mixed_data=['Bisma',25,"5'1",'Single','FB Area']

In [95]:
# #6-Declare a list variable named IT_companies and assign initial values Facebook, Google,
# Microsoft, Apple, IBM, Oracle and Amazon, Print the list using print() and Print the
# number of companies in the list
IT_companies=["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(IT_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [97]:
#7-Print the first, middle and last company
IT_companies[0:7:3]

['Facebook', 'Apple', 'Amazon']

In [99]:
#8-Print the list after modifying one of the companies
IT_companies.append("Folio3")
print(IT_companies)
IT_companies.remove("Folio3")
print(IT_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Folio3']
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [101]:
#9-Add an IT company to IT_companies
IT_companies.append("Contour Software")
print(IT_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Contour Software']

In [103]:
#10-Insert an IT company in the middle of the companies list
IT_companies.insert(4,"Arpatech")
print(IT_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'Arpatech', 'IBM', 'Oracle', 'Amazon', 'Contour Software']

In [105]:
#11-Change one of the IT_companies names to uppercase (IBM excluded!)
'Contour Software'.upper()

'CONTOUR SOFTWARE'

In [107]:
#12- Sort the list using sort () method
IT_companies.sort()
print(IT_companies)

['Amazon', 'Apple', 'Arpatech', 'Contour Software', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [109]:
#13- Reverse the list in descending order using reverse() method
IT_companies.sort(reverse=True)
print(IT_companies)

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Contour Software', 'Arpatech', 'Apple', 'Amazon']

In [111]:
#14-Slice out the first 3 companies from the list
print(IT_companies[:3])

['Oracle', 'Microsoft', 'IBM']

In [113]:
#15- Slice out the last 3 companies from the list
print(IT_companies[-3:])

['Arpatech', 'Apple', 'Amazon']

In [115]:
#16-Slice out the middle IT company or companies from the list
print(IT_companies[4])

Facebook

In [117]:
#17-Remove the first IT company from the list
del IT_companies[0]
print(IT_companies)

['Microsoft', 'IBM', 'Google', 'Facebook', 'Contour Software', 'Arpatech', 'Apple', 'Amazon']

In [121]:
#18- Remove the middle IT company or companies from the list
IT_companies.remove("Facebook")
print(IT_companies)

['Microsoft', 'IBM', 'Google', 'Contour Software', 'Arpatech', 'Apple', 'Amazon']

In [123]:
#19-Remove the last IT company from the list
IT_companies.pop()
print(IT_companies)

['Microsoft', 'IBM', 'Google', 'Contour Software', 'Arpatech', 'Apple']

In [125]:
#21-Remove all IT companies from the list
IT_companies.clear()
print(IT_companies)

[]

In [133]:
#22-Destroy the IT companies list
del IT_companies[]
print(IT_companies)

SyntaxError: invalid syntax (2505028416.py, line 2)

In [141]:
#23-Join the following lists:insert Python and SQL after Redux.
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
full_stack=front_end+back_end
print(full_stack)
full_stack.insert(5,'Python')
full_stack.insert(6,'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [1]:
#27-Sort the list and find the min and max age
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
print(min(ages))
print(max(ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26

In [3]:
#28- Add the min age and the max age again to the list
ages.append(19)
ages.append(26)
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [5]:
#29-Find the median age (one middle item or two middle items divided by two)
ages.sort()
print(len(ages))

12

In [7]:
len(ages)//2

6

In [23]:
#30-Find the average age (sum of all items divided by their number)
average_age=sum(ages)//len(ages)
print(average_age)

22

In [11]:
#31-Find the range of the ages (max minus min)
max(ages)-min(ages)

7

In [29]:
#32-Compare the value of (min - average) and (max - average), use absolute difference() method
min_age=min(ages)
max_age=max(ages)

min_difference=abs(min_age-average_age)
max_difference=abs(max_age-average_age)

if min_age>max_age:
    print('The minimum age is greater than maximum age')

elif min_age<max_age:
    print('Tha maximum age is greater than minimum age')

else:
    print('ages are equal')

Tha maximum age is greater than minimum age

In [39]:
## 33. Find the middle country(ies) in the countries list
countries=['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

countries.sort()
print(len(countries))

middle_country=len(countries)//2
print(middle_country)

7
3

In [51]:
#34-Divide the countries list into two equal lists if it is even if not one more country for the first
#half.
print(len(countries))

middle_index=(len(countries)+1)//2

first_half=countries[:middle_index]
second_half=countries[middle_index:]

print(first_half)
print(second_half)

7
['China', 'Denmark', 'Finland', 'Norway']
['Russia', 'Sweden', 'USA']

In [53]:
#35-Unpack the first three countries and the rest as scandic countries.

first_country, second_country, third_country, *scandic_countries = countries

print("First country:", first_country)
print("Second country:", second_country)
print("Third country:", third_country)
print("Scandic countries:", scandic_countries)

First country: China
Second country: Denmark
Third country: Finland
Scandic countries: ['Norway', 'Russia', 'Sweden', 'USA']

### TUPLE:

In [4]:
#1-Create an empty tuple
tuple_=()
print(type(tuple_))

<class 'tuple'>

In [6]:
#2-Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
#3-Join brothers and sisters tuples and assign it to siblings
sisters=('Areeba','Bisma','Hoorain')
brothers=('Ali','Hamid','Hamza')
siblings=sisters+brothers
print(siblings)

('Areeba', 'Bisma', 'Hoorain', 'Ali', 'Hamid', 'Hamza')

In [8]:
#4-How many siblings do you have?
len(siblings)

6

In [12]:
#5-Modify the siblings tuple and add the name of your father and mother and assign it to family_members.
family_members=('Mother','Father')+siblings
print(family_members)

('Mother', 'Father', 'Areeba', 'Bisma', 'Hoorain', 'Ali', 'Hamid', 'Hamza')

In [22]:
#6-Unpack siblings and parents from family_members
parent1, parent2,*siblings = family_members

print("Parent1:" ,parent1)
print("Parent2:" ,parent2)
print("Siblings:" ,siblings)

Parent1: Mother
Parent2: Father
Siblings: ['Areeba', 'Bisma', 'Hoorain', 'Ali', 'Hamid', 'Hamza']

In [1]:
#7-Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a
#variable called food_stuff_tp.
fruits=('Mango','Strawberry','Peach','Bnanan')
vegetables=('Carrot','Ginger','Garlic','Potato')
animal_products=('meat','wool','milk')
food_stuff_tp= fruits+vegetables+animal_products
print(food_stuff_tp)

('Mango', 'Strawberry', 'Peach', 'Bnanan', 'Carrot', 'Ginger', 'Garlic', 'Potato', 'meat', 'wool', 'milk')

In [4]:
#8- Change the about food_stuff_tp tuple to a food_stuff_lt list.
food_stuff_lt=list(food_stuff_tp)
print(type(food_stuff_lt))

<class 'list'>

In [28]:
#9- Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
print(len(food_stuff_lt))
print(len(food_stuff_tp))

print(food_stuff_lt[5])
print(food_stuff_tp[5])

11
11
Ginger
Ginger

In [38]:
#10-Slice out the first three items and the last three items from food_staff_lt list
print(food_stuff_lt[:3])
print(food_stuff_tp[:3])

['Mango', 'Strawberry', 'Peach']
('Mango', 'Strawberry', 'Peach')

In [ ]:
#11-Delete the food_staff_tp tuple completely.

### SETS

In [69]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle',
'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [71]:
#1-Find the length of the set it_companies
len(it_companies)

7

In [73]:
#2-Add 'Twitter' to it_companies
it_companies.add('twitter')
print(it_companies)

{'Amazon', 'Apple', 'Oracle', 'IBM', 'twitter', 'Google', 'Facebook', 'Microsoft'}

In [75]:
#3-Insert multiple IT companies at once to the set it_companies
other_it_companies={'Contour','Netsol','Arpatech'}
it_companies.update(other_it_companies)
print(it_companies)

{'Google', 'Microsoft', 'Amazon', 'Apple', 'Oracle', 'IBM', 'twitter', 'Netsol', 'Facebook', 'Arpatech', 'Contour'}

In [77]:
#4-Remove one of the companies from the set it_companies
it_companies.remove('Amazon')
print(it_companies)

{'Google', 'Microsoft', 'Apple', 'Oracle', 'IBM', 'twitter', 'Netsol', 'Facebook', 'Arpatech', 'Contour'}

In [ ]:
#5-What is the difference between remove and discard?
#Answer:  If the item to remove does not exist, remove() will raise an error.
         #If the item to remove does not exist, discard() will NOT raise an error.

In [79]:
#6-Join A and B
C=A.union(B)
print(C)

{19, 20, 22, 24, 25, 26, 27, 28}

In [81]:
#7- Find A intersection B
D=A&B
print(D)

{19, 20, 22, 24, 25, 26}

In [92]:
#8-Is A subset of B
A .issubset(B)

True

In [94]:
#9-Are A and B disjoint sets
A .isdisjoint(B)

False

In [98]:
#10-Join A with B and B with A
A_union_B = A|B
B_union_A = B|A
print(A_union_B)
print(B_union_A)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [100]:
#11-What is the symmetric difference between A and B
E=A.symmetric_difference(B)
print(E)

{27, 28}

In [102]:
#12- Delete the sets completely
del A
del B

In [106]:
#13- Convert the ages to a set and compare the length of the list and the set, which one is
# bigger?
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

lst_to_st=set(age)
print(type(lst_to_st))
print(len(age))
print(len(lst_to_st))

<class 'set'>
8
5

In [ ]:
#14-Explain the difference between the following data types: string, list, tuple and set

#### STRING:
- Strings in python are surrounded by either single quotation marks, or double quotation marks.

### LIST:
- Lists are used to store multiple items in a single variable.
- Lists are created using square brackets
- List items are ordered, changeable, and allow duplicate values

### TUPLE:
- Tuples are used to store multiple items in a single variable
- A tuple is a collection which is ordered and unchangeable.
- Tuples are written with round brackets.
- Tuple items are ordered, unchangeable, and allow duplicate values.

### SET:
- Sets are used to store multiple items in a single variable.
- A set is a collection which is unordered, unchangeable*, and unindexed.
- Sets are written with curly brackets.