In [49]:
fruits_liked = ['BANANA','MANGO','STRAWBERRY']
not_liked = ['APPLE','MELON','KIWI']
occassionally_ = ['WATERMELON','PINEAPPLE','CHERRY']

In [51]:
fruits_liked.append(not_liked)
print(fruits_liked)

['BANANA', 'MANGO', 'STRAWBERRY', ['APPLE', 'MELON', 'KIWI']]

In [53]:
fruits_liked.insert(0,occassionally_)
print(fruits_liked)

[['WATERMELON', 'PINEAPPLE', 'CHERRY'], 'BANANA', 'MANGO', 'STRAWBERRY', ['APPLE', 'MELON', 'KIWI']]

In [9]:
fruits_liked[4][1:3]

['MELON', 'KIWI']

In [11]:
len(fruits_liked)

5

In [17]:
len(fruits_liked[4])

3

In [19]:
fruits_liked.reverse()
print(fruits_liked)

[['APPLE', 'MELON', 'KIWI'], 'STRAWBERRY', 'MANGO', 'BANANA', ['WATERMELON', 'PINEAPPLE', 'CHERRY']]

In [27]:
fruits_liked.remove('PINEAPPLE')
fruits_liked.remove('CHERRY')
print(fruits_liked)

ValueError: list.remove(x): x not in list

In [ ]:
#X IS INPUT GIVEN BY US
# X IS NOT OART OF THIS LIST ITS IN SUBLIST
#DIRECTLY AP SUB LIST K ELEMENTS KO ACCESS NAHI KARSAKTE

In [29]:
print(fruits_liked)

[['APPLE', 'MELON', 'KIWI'], 'STRAWBERRY', 'MANGO', 'BANANA', ['WATERMELON', 'PINEAPPLE', 'CHERRY']]

In [31]:
fruits_liked[4].remove('PINEAPPLE')
fruits_liked[4].remove('CHERRY')
print(fruits_liked)

[['APPLE', 'MELON', 'KIWI'], 'STRAWBERRY', 'MANGO', 'BANANA', ['WATERMELON']]

In [33]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [39]:
fruits_liked.clear() #saare elements 1 one k andar remove krne hain
print(fruits_liked)

[]

In [43]:
print(fruits_liked)

[]

In [45]:
#delete ka method is a builtin method
# to remove list completely along with its elements
#clear is used when we want to delete elemnts of that list but list continues to exist empty.
del(fruits_liked)

In [47]:
# list is deleted from its memory
fruits_liked[0]

NameError: name 'fruits_liked' is not defined

In [ ]:
#uper jaake 1st 2nd 3rd wala cell run karo

In [55]:
fruits_liked

[['WATERMELON', 'PINEAPPLE', 'CHERRY'],
 'BANANA',
 'MANGO',
 'STRAWBERRY',
 ['APPLE', 'MELON', 'KIWI']]

In [57]:
#MEMBERSHIP OPERATOR
#subscript wala element nahi milega esko
'APPLE' in fruits_liked

False

In [59]:
'Avocado' not in fruits_liked

True

In [61]:
# index deni hoti hai to cal subscript element
'APPLE' in fruits_liked[4]

True

In [63]:
#MUTABLE: CHANGEABLE
#ImMUTABLE: UNCHANGEABLE
#LIST K ITEMS KO CHANGE KRSAKTE HAIN TOU YE MUTABLE HOTI
#TUPLE() : eski pehchan hai round brackets dont confuse it with fuction

In [65]:
numbers = (1,2,3,4,5,6,7,8)
print(numbers)

(1, 2, 3, 4, 5, 6, 7, 8)

In [67]:
print(type(numbers))

<class 'tuple'>

In [71]:
number_ = (1,2,3,4,5,6,7,8)
type(number_)

tuple

In [73]:
#jitni bhi data dtype hain unke indexing hamesha [] me ati hai
number_[0]

1

In [75]:
number_.append()

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#tuple is a immutable data type (not changeable) eska koe bhi attribute pe append kaam nahi karega
#means append eska method nahi hai.
#LIST KA koe bhi method tuple pe kaam nahi karga

In [77]:
number_.count(2)

1

In [79]:
number1=(19,12,23,11,25,26)
print(number1)

(19, 12, 23, 11, 25, 26)

In [83]:
number_list=number_+number1
print(number_list)

(19, 12, 23, 11, 25, 26, 19, 12, 23, 11, 25, 26)

In [ ]:
#ye CONCATENATION HUA HAI CZ CHEEZ aggy ake juri hai to glue
#ADDITION MEANS ADD HNA ES ME 1+19 20 HOJATA EK RESULT ATA

In [85]:
number_-number1

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [87]:
number_*3

(19, 12, 23, 11, 25, 26, 19, 12, 23, 11, 25, 26, 19, 12, 23, 11, 25, 26)

In [89]:
5*3

15

In [91]:
'5'*3

'555'

In [95]:
number_*-1

()

In [97]:
number_/4

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

In [101]:
#ab tak hum index dete thy elemnt pochty thy
#ab hum element deke index pochein gey
#reverse uno
#19 zero index pe tha

number1.index(19)

0

In [103]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [105]:
number1.index(23)

2

In [107]:
#list me um .index nahi likhte thy hamesha [] me direct index batate hain
#tuple me .index likhty hain or elemnt batate hain

In [109]:
fruits = ('Banana','Mango','Apple')

In [111]:
fruits.append('Kiwi')

AttributeError: 'tuple' object has no attribute 'append'

In [113]:
fruits_liked.append(fruits)

In [115]:
print(fruits_liked)

[['WATERMELON', 'PINEAPPLE', 'CHERRY'], 'BANANA', 'MANGO', 'STRAWBERRY', ['APPLE', 'MELON', 'KIWI'], ('Banana', 'Mango', 'Apple')]

In [117]:
fruits.append(fruits_liked)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# list me tuple append hojaega but tuple me list append nahi hogi

In [119]:
fruits = fruits + fruits_liked
print(fruits)

TypeError: can only concatenate tuple (not "list") to tuple

In [ ]:
#can only concatenate tuple to tuple not tuple to list.

In [121]:
fruits_liked = fruits+fruits_liked
print(fruits_liked)

TypeError: can only concatenate tuple (not "list") to tuple

In [ ]:
# use insert or append to add tuple to list
# if you use + tou tuple khud ko pehle se alag karleta hai ye uski property hai.

In [123]:
number1

(19, 12, 23, 11, 25, 26)

In [125]:
max(number1)

26

In [127]:
sorted(number1,reverse=True)

[26, 25, 23, 19, 12, 11]

In [129]:
sum(number1)

116

In [131]:
sorted(number1,reverse=False)

[11, 12, 19, 23, 25, 26]

In [139]:
number1

(19, 12, 23, 11, 25, 26)

In [141]:
number1.count(19)

1

In [143]:
num1,num2,num3=6,67,45
print(num1,num2,num3)

6 67 45

In [147]:
num1,num2,num3={6,67,45}
print(type(num1,num2,num3))
print(num1,num2,num3)

TypeError: type.__new__() argument 1 must be str, not int

In [ ]:
#type eka rgument leta hai woh bhhi str hona chahye

In [151]:
num1,num2,num3=(6,67,45)
print(type(num1))
print(num1,num2,num3)

<class 'int'>
6 67 45

In [155]:
num1={6,67,45}
print(type(num1))
print(num1)

<class 'set'>
{67, 45, 6}

In [157]:
#unpacking k liye RHS = LHS
num1,num2,num3={6,67,45}
print(type(num1))
print(num1)

<class 'int'>
67

In [159]:
num1,*others={6,67,45}
print(type(num1))
print(num1)

<class 'int'>
67

In [161]:
num1,*others={6,67,45}
print(type(others))
print(others)

<class 'list'>
[45, 6]